/* apply natural box layout model to all elements, but also let components change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* element selectors by parent */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* class in alpha order */
.ai-c {
  align-items: center;
}

.b-r-circ {
  border-radius: 100%;
}

.b-r-12 {
  border-radius: 12%;
}

.b-r-25 {
  border-radius: 25%;
}

.b-r-50 {
  border-radius: 50%;
}

.bgc-amber-100 {
  background-color: #ffe0b2;
}

.bgc-amber-400 {
  background-color: #ffca28;
}

.bgc-blue-400 {
  background-color: #42a5f5;
}

.bgc-blue-900 {
  background-color: #0d47a1;
}

.bgc-boringblue {
  background-color: rgb(37, 137, 189);
}

.bgc-lightgray {
  background-color: lightgray;
}

.bgc-orange-50 {
  background-color: #fff3e0;
}

.bgc-royalblue {
  background-color: royalblue;
}

.bgc-steelblue {
  background-color: steelblue;
}

.c-white {
  color: white;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.h-100vh {
  height: 100vh;
}

.ff-impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.ff-segoe {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ff-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fg-1 {
  flex-grow: 1;
}

.fw-700 {
  font-weight: 700;
}

.fx-1 {
  flex: 1 0 0;
}

.fxd-c {
  flex-direction: column;
}

.fz-1p5 {
  font-size: 1.5rem;
}

.fz-2 {
  font-size: 2rem;
}

.g {
  gap: 1.5rem;
}

.h-100vh {
  height: 100vh;
}

.jc-sb {
  justify-content: space-between;
}

.jc-se {
  justify-content: space-evenly;
}

.lis-bull-circ {
  list-style-type: circle;
}

.lis-n {
  list-style: none;
}

.m0 {
  margin: 0;
}

.max-w-22 {
  max-width: 22rem;
}

.min-w-50 {
  min-width: 50%;
}

.ml {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mt {
  margin-top: 1.5rem;
}

.mw-60 {
  max-width: 60rem;
}

.p0 {
  padding: 0;
}

.p {
  padding: 1.5rem;
}

.p\+ {
  padding: 3rem;
}

.pl {
  padding-left: 1.5rem;
}

.pos-f-t {
  position: fixed;
  top: 0;
  width: 100%;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-8 {
  padding-top: 8rem;
}

.t-i {
  text-indent: 1rem;
}

.w-100 {
  width: 100%;
}

.w-fc {
  width: fit-content;
}

.w-mc {
  width: min-content;
}

/* media query */
@media (min-width: 768px) {
  .d-f\@lrg {
    display: flex;
  }

  .fg-1\@lrg {
    flex-grow: 1;
  }

  .fg-4\@lrg {
    flex-grow: 4;
  }

  .ml\@lrg {
    margin-left: 1.5rem;
  }

  .pt-3\@lrg {
    padding-top: 3rem;
  }
}

@media (max-width: 767px) {
  .mt\@sm {
    margin-top: 1rem;
  }
}
